<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCP Hello World Demo Project</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/Open_Sans.css" media="all">
</head>
<body>
<div class="bodyDivWithScroll" id="fullPage" dir="ltr">
    <div id="pageWhiteBox" style="">
        <div class="errorMessage">
            <div><img src="/images/attention.svg" alt="Attention"></div>
            <div th:text="'Error: ' + ${errorMessage}"></div>
        </div>
    </div>
</div>
</body>
</html>
